/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist';
@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo", sans-serif !important;
}

@layer components {
  .stat-icon-custom {
    @apply text-[#FFDF20] transition-transform duration-300 hover:scale-110 me-0.5 inline-block text-[20px];
  }
  .card-custom {
    @apply flex  p-4 rounded-2xl border border-white/20 bg-white/10 backdrop-blur-md shadow-xl transition-all duration-300 hover:bg-[color-mix(in_oklab,var(--color-white)_25%,transparent)];
  }
  .continue {
    @apply relative flex items-center justify-center py-4
                before:content-[''] before:flex-1 before:h-[1px] 
                before:bg-gradient-to-r before:from-transparent before:to-gray-300
                after:content-[''] after:flex-1 after:h-[1px] 
                after:bg-gradient-to-l after:from-transparent after:to-gray-300;
  }
  .err-msg {
    @apply text-start !text-[16px] font-normal !text-[#fb2c36];
  }
}
